[build]
target = "thumbv7em-none-eabihf"

[target.thumbv7em-none-eabihf]
linker = "arm-none-eabi-gcc"
rustflags = [
    "-C", "link-arg=-TSTM32F429ZITX_FLASH.ld",
    "-C", "link-arg=-mcpu=cortex-m4",
    "-C", "link-arg=-mthumb",
    "-C", "link-arg=-mfpu=fpv4-sp-d16",
    "-C", "link-arg=-mfloat-abi=hard",
]

runner  = "probe-rs run --chip STM32F429ZI"

[profile.dev]
opt-level = 0
debug = true
